In [2]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("Data set/BhartiAirtel.csv")
df

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
0,4-June-2021,534.80,535.75,531.25,532.70,533.229306,661985,12196,352989802.0,398176.0,60.15,4.50,-2.10
1,3-June-2021,531.85,533.35,528.70,532.10,531.013092,735782,15452,390709875.0,479872.0,65.22,4.65,0.25
2,2-June-2021,530.10,534.50,528.00,529.60,530.544324,494007,11723,262092610.0,273203.0,55.30,6.50,-0.50
3,1-June-2021,538.00,538.00,530.15,532.90,533.446883,501024,12404,267269691.0,232077.0,46.32,7.85,-5.10
4,31-May-2021,525.80,535.80,525.40,534.95,532.479380,927325,19141,493781441.0,549560.0,59.26,10.40,9.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,7-January-2011,353.90,354.75,335.00,338.70,342.594042,358515,5778,122825103.0,73576.0,20.52,19.75,-15.20
2578,6-January-2011,351.00,355.35,351.00,353.25,353.230604,196241,2516,69318327.0,41231.0,21.01,4.35,2.25
2579,5-January-2011,353.90,355.70,348.35,349.90,351.481252,172421,2552,60602749.0,43428.0,25.19,7.35,-4.00
2580,4-January-2011,361.00,361.75,353.10,355.30,359.347771,510966,3163,183614493.0,364759.0,71.39,8.65,-5.70
2581,3-January-2011,358.40,364.90,354.50,359.35,360.257123,316463,5263,114008050.0,82793.0,26.16,10.40,0.95

In [33]:
X=df.iloc[:,1 :2].values
y=df.iloc[:,4:5].values
print(X,y)

[[534.8 ]
 [531.85]
 [530.1 ]
 ...
 [353.9 ]
 [361.  ]
 [358.4 ]] [[532.7 ]
 [532.1 ]
 [529.6 ]
 ...
 [349.9 ]
 [355.3 ]
 [359.35]]

array([[532.7 ],
       [532.1 ],
       [529.6 ],
       ...,
       [349.9 ],
       [355.3 ],
       [359.35]])

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,stratify=y, test_size=0.2, random_state=42)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [35]:
from sklearn.model_selection import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)

ImportError: cannot import name 'LinearRegression' from 'sklearn.model_selection' (E:\Documents\OSLAB\anacondqa\lib\site-packages\sklearn\model_selection\__init__.py)

In [36]:
import seaborn as sns
df=sns.load_data("Data set/BhartiAirtel.csv")

AttributeError: module 'seaborn' has no attribute 'load_data'